---
import CarrouselCategory from "../components/CarrouselCategory";
---

<section class="pt-10 lg:pt-28 border border-b-muted-foreground/10 pb-16 overflow-hidden">
  <div class="container">
    <div class="max-w-[800px] mx-auto text-center mb-0 px-4">
      <h2 class="mb-4 text-3xl font-bold md:text-5xl uppercase tracking-tighter">
        Encuentra tu Espacio
      </h2>
      <p class="md:text-lg text-muted-foreground balance">
        Nuestras habitaciones y suites están diseñadas para brindar un excelente
        confort y una experiencia lujosa. Tenemos el alojamiento perfecto para ti.
      </p>
    </div>
    
    <CarrouselCategory client:load />
    
  </div>
</section>
